* {
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    width: 1140px;
}

.container {
    width: 1108px;
    margin: 0 auto;
}

.hero {
    width: 1441px;
    height: 835px;
    background-image: url(/images/hero-background.jpg);
    background-repeat: no-repeat;
    padding-top: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 40px;
    margin-bottom: 121px;

}

.logo-img {
    width: 258px;
    height: 40px;
}


.burger {
    width: 40px;
    height: 39px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    width: 616px;
    height: 412px;
}

.jumbotron-top {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 22px;

}

.jumbotron-mid {
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    ;
    line-height: 74px;
    color: white;
    margin-bottom: 24px;
}

.jumbotron-bot {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin-bottom: 45px;

}

.jumbotron-button {
    width: 127px;
    height: 24px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.jumbotron-button_text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFD723;
    text-decoration: underline;
}

.achievements {
    display: flex;
    height: 795px;
    width: 1440px;
    position: relative;
    margin-bottom: 162px;

}

.achievements-inner {

    display: flex;
    justify-content: space-between;
    height: 644px;
}


.achievements-awords {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1276px;
    height: 227px;
    position: absolute;
    right: 0%;
    top: -128px;
    background-color: white;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);


}

.achievements-awords_img {

    width: 1045px;
    height: 113px;
}

.achievements__textbar {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 366px;
    margin-top: 244px;
}

.achievements__textbar-subtitle {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4D533C;
    margin-bottom: 29px;
}

.achievements__textbar-title {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    height: 138px;
    margin-bottom: 35px;
}

.achievements__textbar-description {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 42px;
}

.toggle {
    width: 191px;
    height: 24px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.achievements-textbar_button-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-decoration: underline;
    color: #D4D6D4;
}

.quote {
    width: 474px;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);

}

.quote-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 73px;

}

.quote-content {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    color: #4D533C;
}

.quoter {
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 90px;

}

.quoter-avatar {
    width: 90px;
    height: 90px;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}

.quoter-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.quoter-name {
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    color: #4D533C;

}

.quoter-speciality {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #152934;

}

.postachievements {
    width: 1440px;
    margin-bottom: 104px;
}

.postachievements-inner {
    display: flex;
    justify-content: space-between;
}

.project {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    color: #4D533C;
}

.lorem {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-right: 205px;
}

.direction {
    height: 1970px;
    width: 1440px;
}

.direction-inner {
    height: 550px;
    margin-bottom: 165px;
    display: flex;
}

.direction-container{
    max-width: 100%;
}

.direction-imageside {
    position: relative;
}

.direction-quote {
    Width: 453px;
    Height: 243px;
    position: absolute;
    background-color: white;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    right: -50px;
    bottom: -70px;
    padding: 30px;
}

.direction-quote-box {
    height: 184px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.direction-quote-content {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
    color: #4D533C;
}

.direction-quoter-name {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D533C;
}

.direction-quoter-speciality {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
}

.direction-quoter {
    height: 46px;
    display: flex;
    align-items: center;
}

.direction-quoter-avatar {
    width: 46px;
    height: 46px;
    margin-right: 14px;
}

.direction-quoter-info {
    display: flex;
    flex-direction: column;
}

.direction-textbar {
    display: flex;
    flex-direction: column;
    width: 421px;
    margin-top: 80px;
}

.direction-textbar-subtitle {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
    margin-bottom: 80px;
}

.direction-textbar-title {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 90px;
}

.direction-textbar-button-text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D4D6D4;
}

.direction-toggle {
    width: 150px;
    height: 24px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.modeling{
    flex-direction: row-reverse;
}


.container-modeling{
    flex-direction: row-reverse;
}

.quote-modeling{
    left: -50px;
}